@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('./fonts/MuseoSansCyrl-300.woff2'),
      url('./fonts/MuseoSansCyrl-300.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('./fonts/MuseoSansCyrl-500.woff2'),
      url('./fonts/MuseoSansCyrl-500.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}